.blog-content-slug {
  h2 {
    font-size: clamp(1.1em, 2vw, 1.5em) !important;
  }
  h3 {
    font-size: clamp(1em, 1.8vw, 1.3em) !important;
  }
  h4 {
    font-size: clamp(0.9em, 1.6vw, 1.1em) !important;
  }
}
.blog-category-link {
  &:hover {
    background-color: var(--color-tertary);
    color: var(--color-primary);
  }
}
.blog-subhead-gradient {
  background: linear-gradient(
    45deg,
    var(--color-tertary),
    var(--color-tertary),
    var(--color-tertary),
    #643c3c67
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.blog-gradient {
  background: linear-gradient(
    45deg,
    var(--color-tertary),
    #0000002d
  ) !important;
}
.blog-subhead {
  font-size: clamp(1.2em, 1.5vw, 1.5em) !important;
}
.scroll-container {
  width: max-content !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}
.scroll-wrapper {
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .scroll-wrapper {
    overflow: hidden;
  }
  .scroll-container > div {
    max-width: 380px !important;
    text-wrap: wrap;
    margin-right: 6px !important;
    background-color: #000000;
    border-radius: 16px;
  }
}
.scroll-container::-webkit-scrollbar {
  display: none !important;
}
.scroll-container:hover {
  animation-play-state: paused;
}

.scroll-container > div {
  display: inline-block;
  margin-right: 12px;
  background-color: #000000;
  border-radius: 16px;
  &:hover h4 {
    text-decoration: underline;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.scroll-wrapper:nth-child(2) {
  .scroll-container {
    animation: scroll2 20s linear infinite;
  }
}
@keyframes scroll2 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.blogs {
  .blog-card,
  .first-blog {
    padding-block: 12px;
    position: relative;
    cursor: pointer;
    &:hover .blog-heading {
      text-decoration: underline !important;
      color: var(--color-tertary);
    }
    &:hover {
      img {
        transform: scale(1.05);
        filter: opacity(0.85);
      }
    }
    h3 {
      font-size: clamp(1.4em, 1.5vw, 1.85em) !important;
      &:hover {
        text-decoration: underline !important;
        cursor: pointer;
        color: var(--color-tertary);
      }
    }
    .view-blog-btn {
      width: auto;
      background-color: var(--color-primary);
      color: var(--color-tertary);
      box-shadow: var(--color-shadow);
      padding: 12px 20px;
      position: absolute;
      transform: scale(0);
      top: 24px;
      border-radius: 10px;
      left: 14px;
      z-index: 9;
    }
    &:hover .view-blog-btn {
      transform: scale(1);
    }
  }
  .headings {
    border-bottom: 1px solid var(--color-tertary-down);
  }
  .view {
    color: var(--color-tertary);
  }
  .blog-date {
    font-size: 0.95em;
  }
  .blog-dot {
    border-radius: 999px !important;
    color: var(--color-tertary) !important;
  }
  .blog-author {
    font-size: 0.95em;
    font-weight: 600;
  }
  .blog-category {
    background: linear-gradient(25deg, var(--color-tertary), black);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    text-transform: uppercase;
  }

  .blog-image-container {
    height: 300px;
    overflow: hidden;
    border-radius: 16px;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;
      transition: 0.25s ease-in-out;
    }
  }
  .view-more-blog {
    color: var(--color-tertary);
  }
}

.blogs {
  .blog-main-col {
    height: auto;
    padding-block: 12px;
    background-color: var(--color-primary);
    border-radius: 16px;
    box-shadow: 0 28px 28px rgba(121, 121, 121, 0.123);
    border: 1px solid var(--color-gray);
    border-top: 2px solid var(--color-tertary);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .sticky-sidebar {
    position: sticky;
    top: 94px;
  }
  .blog-recent {
    &:hover .blog-title {
      filter: brightness(1);
      text-decoration: underline;
      color: var(--color-tertary);
    }
    .recent-feed-content {
      transition: 0.15s ease-in-out;
    }
    &:hover .recent-feed-content {
      transform: translateX(5px);
    }
  }
}

.blog-container {
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: var(--color-primary);
  .input-container {
    input {
      margin: auto;
      border: 1px solid var(--color-border);
      padding: 20px;
      border-radius: 16px;
      margin-inline: 2px;
      transition: 0.25s ease-in-out !important;
      font-family: var(--font-head);
      @media screen and (max-width: 768px) {
        width: 80%;
      }
      &:focus {
        border: 1px solid transparent;
        outline: none;
        box-shadow: 0 0 0px 2px var(--color-tertary);
      }
      &::placeholder {
        font-family: var(--font-head) !important;
        text-transform: capitalize;
        color: var(--color-border);
        font-weight: normal !important;
      }
    }
    .input-insider {
      position: relative;
      .search-button {
        position: absolute;
        right: 16px !important;
        bottom: 9px;
        height: min-content;
        border-radius: 16px !important;
        padding: 20px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-secondary);
      }
    }
  }
}
.blogs {
  ::-webkit-scrollbar {
    display: none;
  }
}
.blog-container {
  .blog-top-category {
    border: 1px solid var(--color-border);
    padding: 12px 20px !important;
    // margin-inline: 8px;
    border-radius: 12px;
    background: linear-gradient(25deg, #ff3300, var(--color-tertary), black);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
    .blog-cat-icon {
      color: var(--color-tertary);
    }
    &:hover {
      filter: brightness(1) !important;
      border: 1px solid transparent;
      background: var(--color-secondary);
      color: var(--color-primary);
    }
  }
}
// blog-slug
.blog-slug {
  width: 100%;
  .slug-image-container {
    width: 100%;
    height: 450px;
    overflow: hidden;
    border-radius: 16px;
    @media (max-width: 768px) {
      height: 300px;
    }
    img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
      background-position: center;
    }
  }
}

.blog-comment {
  .blog-comment-form {
    input,
    textarea {
      font-family: var(--font-head);
      border-bottom: 1px solid var(--color-tertary-down) !important;
      border-radius: 0 !important;
      &::placeholder {
        color: var(--color-gray);
      }
      &:focus {
        outline: none !important;
        border: none !important;
        border-bottom: 1px solid var(--color-tertary) !important;
      }
    }
    button:hover {
      background-color: white !important;
      color: #000;
    }
  }
}
.blog-search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  input {
    width: 100%;
    border: 1px solid transparent;
    border-radius: 999px;
    padding: clamp(1rem, 1.4vw, 2rem);
    font-family: var(--font-head);
    transition: 0.2s ease-in-out;
    background-color: #ffffff;
    border: 2px solid var(--color-tertary-down);
    &:focus {
      outline: none;
      border: 2px solid var(--color-tertary);
    }
  }

  .search-results {
    width: 100%;
    height: auto;
    max-height: 300px;
    overflow-y: auto;
    background-color: var(--color-primary);
    border-radius: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    li:not(.no-results) {
      width: 100%;
      list-style-type: none;
      padding: 18px;
      color: var(--color-black);
      font-family: var(--font-head);
      font-weight: bold;
      &:hover {
        cursor: pointer;
        background-color: var(--color-tertary-down);
        color: var(--color-tertary);
      }
    }
    .no-results {
      width: 100%;
      list-style-type: none;
      padding: 16px 20px;
      color: var(--color-tertary);
      background-color: var(--color-tertary-down);
    }
  }
}
.blog-search-bar {
  > div {
    position: relative;
    .input-clear-button {
      position: absolute;
      right: 12px;
      bottom: 50%;
      transform: translateY(50%);
    }
  }
}

.blog-nav {
  position: fixed;
  top: 0;
  z-index: 999;
  .blog-nav-item {
    .dropdown-menu {
      display: none;
    }
    &.show {
      display: flex;
    }
    span {
      font-family: var(--font-head);
    }
  }
  .blog-mobile-ham {
    background-color: var(--color-tertary) !important;
  }
}

.blog-nav {
  background-color: #000000e0 !important;
  backdrop-filter: blur(20px);
  .blog-nav-item {
    .blog-nav-dropdown {
      a {
        color: var(--color-black) !important;
      }
    }
  }
  .nav-links {
    @media screen and (max-width: 1000px) {
      display: none !important;
    }
  }
}
.search-modal {
  backdrop-filter: blur(10px);
  padding-inline: 0 !important;
  .modal-content {
    border: none;
  }
}

.blog-data-nav {
  top: 74px !important;
  @media screen and (max-width: 768px) {
    top: 70px !important;
  }
  a.acive {
    .icon {
      color: var(--color-black) !important;
    }
  }
}

.blog-footer {
  .footer-links {
    .blog-footer-link {
      a {
        font-size: clamp(0.85em, 1vw, 1.1em) !important;
        &:hover {
          color: var(--color-tertary) !important;
        }
      }
      position: relative;
      &::after {
        content: '|';
        position: absolute;
        right: -10px;
        color: var(--color-tertary) !important;
      }

      &:last-child::after {
        content: '';
      }
    }
  }
}

.destination-side-nav {
  background-color: var(--color-black) !important;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 24px;
  width: 100%;
  height: 100vh;
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  transition: background-color 0.2s ease-in-out;
  &.show {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
  }
}

.blog-category-sidebar {
  li:hover {
    border-left: 1px solid var(--color-tertary) !important;
  }
}

.sidebar-menu-toggle {
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid var(--color-tertary-down);
    h4 {
      color: var(--color-tertary) !important;
    }
  }
}
.accordion-toggle {
  cursor: pointer;
  user-select: none;
  &:hover {
    h4 {
      color: var(--color-tertary) !important;
    }
  }
}
// .inactive-toggle {
//   transform: scaleY(0);
//   transition: 0.3s ease-in-out;
// }
.active-toggle {
  animation: slideDown 0.25s ease-out;
  transform-origin: top;
}

@keyframes slideDown {
  from {
    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
    transform-origin: top;
  }
}

// slug
.slug-share {
  a {
    transition: 0.1s ease-in-out;
    &:hover {
      background-color: var(--color-tertary);
      color: var(--color-primary) !important;
    }
  }
}
.slug-contacts {
  a {
    &:hover {
      background-color: var(--color-tertary-down);
      border: 1px solid transparent !important;
    }
  }
}
