/* fonts.css */
@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-display: swap;
  src: url('/Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-weight: bold;
  font-display: swap;
  src: url('/Fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lobster';
  font-display: swap;
  src: url('/Fonts/Lobster/Lobster-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  src: url('/Fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}
